{
  "openapi": "3.0.3",
  "info": {
    "title": "PaletteStream ETL Canvas Public API",
    "version": "1.0.0",
    "description": "The PaletteStream ETL Canvas public API exposes CRUD operations for managing ETL pipelines, triggering ad-hoc executions, retrieving run history, monitoring health metrics, and streaming real-time transformation events.\n\nThe service orchestrates data ingestion, transformation, and curation for both batch and streaming workloads.  All endpoints are protected with bearer JWT authentication unless explicitly marked as public."
  },
  "servers": [
    {
      "url": "https://api.palettestream.io/etl/v1",
      "description": "Production"
    },
    {
      "url": "https://sandbox.api.palettestream.io/etl/v1",
      "description": "Sandbox"
    }
  ],
  "tags": [
    {
      "name": "Pipelines",
      "description": "Create, read, update, and delete ETL pipeline definitions."
    },
    {
      "name": "Runs",
      "description": "Trigger and inspect pipeline executions."
    },
    {
      "name": "Monitoring",
      "description": "Service health and runtime metrics."
    }
  ],
  "paths": {
    "/pipelines": {
      "get": {
        "tags": [ "Pipelines" ],
        "summary": "List pipelines",
        "description": "Returns a paginated list of ETL pipelines visible to the caller.",
        "operationId": "ListPipelines",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (defaults to 0).",
            "schema": { "type": "integer", "minimum": 0, "default": 0 }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size (defaults to 50).",
            "schema": { "type": "integer", "minimum": 1, "maximum": 500, "default": 50 }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Optional search term applied to pipeline name and description.",
            "schema": { "type": "string", "maxLength": 128 }
          }
        ],
        "responses": {
          "200": {
            "description": "A paged collection of pipelines.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PagedPipelineResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        },
        "security": [ { "BearerAuth": [] } ]
      },
      "post": {
        "tags": [ "Pipelines" ],
        "summary": "Create pipeline",
        "description": "Creates a new ETL pipeline definition.",
        "operationId": "CreatePipeline",
        "requestBody": {
          "description": "Pipeline definition payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PipelineCreateRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Pipeline created successfully.",
            "links": {
              "GetPipelineById": {
                "operationId": "GetPipeline",
                "parameters": {
                  "pipelineId": "$response.body#/id"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Pipeline" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "409": { "$ref": "#/components/responses/Conflict" }
        },
        "security": [ { "BearerAuth": [] } ]
      }
    },
    "/pipelines/{pipelineId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/PipelineId"
        }
      ],
      "get": {
        "tags": [ "Pipelines" ],
        "summary": "Get pipeline",
        "operationId": "GetPipeline",
        "responses": {
          "200": {
            "description": "Pipeline found.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Pipeline" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        },
        "security": [ { "BearerAuth": [] } ]
      },
      "put": {
        "tags": [ "Pipelines" ],
        "summary": "Update pipeline",
        "operationId": "UpdatePipeline",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PipelineUpdateRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pipeline updated.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Pipeline" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        },
        "security": [ { "BearerAuth": [] } ]
      },
      "delete": {
        "tags": [ "Pipelines" ],
        "summary": "Delete pipeline",
        "operationId": "DeletePipeline",
        "responses": {
          "204": { "description": "Pipeline deleted." },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        },
        "security": [ { "BearerAuth": [] } ]
      }
    },
    "/pipelines/{pipelineId}/runs": {
      "parameters": [
        {
          "$ref": "#/components/parameters/PipelineId"
        }
      ],
      "post": {
        "tags": [ "Runs" ],
        "summary": "Trigger pipeline run",
        "operationId": "CreateRun",
        "description": "Queues an ad-hoc execution of the specified pipeline.  The execution can be synchronous or asynchronous depending on implementation.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/RunParameters" }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Run accepted.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Run" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/Conflict" }
        },
        "security": [ { "BearerAuth": [] } ]
      },
      "get": {
        "tags": [ "Runs" ],
        "summary": "List runs",
        "operationId": "ListRuns",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "minimum": 0, "default": 0 }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "maximum": 500, "default": 50 }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by run status.",
            "schema": { "$ref": "#/components/schemas/RunStatus" }
          }
        ],
        "responses": {
          "200": {
            "description": "Paged collection of runs.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PagedRunResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        },
        "security": [ { "BearerAuth": [] } ]
      }
    },
    "/pipelines/{pipelineId}/runs/{runId}": {
      "parameters": [
        { "$ref": "#/components/parameters/PipelineId" },
        { "$ref": "#/components/parameters/RunId" }
      ],
      "get": {
        "tags": [ "Runs" ],
        "summary": "Get run",
        "operationId": "GetRun",
        "responses": {
          "200": {
            "description": "Run details.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Run" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        },
        "security": [ { "BearerAuth": [] } ]
      },
      "post": {
        "tags": [ "Runs" ],
        "summary": "Cancel run",
        "operationId": "CancelRun",
        "description": "Attempts to cancel an in-flight run.  Cancellation is best-effort.",
        "responses": {
          "202": {
            "description": "Cancellation requested."
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/Conflict" }
        },
        "security": [ { "BearerAuth": [] } ]
      }
    },
    "/health": {
      "get": {
        "tags": [ "Monitoring" ],
        "summary": "Service health check",
        "operationId": "HealthCheck",
        "description": "Liveness probe compatible with Kubernetes.  Does not require authentication.",
        "responses": {
          "200": {
            "description": "Service healthy."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT access token obtained via the PaletteStream Identity service."
      }
    },
    "parameters": {
      "PipelineId": {
        "name": "pipelineId",
        "in": "path",
        "required": true,
        "description": "Unique identifier of the pipeline.",
        "schema": { "type": "string", "format": "uuid" }
      },
      "RunId": {
        "name": "runId",
        "in": "path",
        "required": true,
        "description": "Unique identifier of the run.",
        "schema": { "type": "string", "format": "uuid" }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "The request payload or parameters are invalid.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing or invalid authentication credentials.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "NotFound": {
        "description": "The requested resource was not found.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "Conflict": {
        "description": "The resource is in a state that conflicts with the requested operation.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      }
    },
    "schemas": {
      "PagedPipelineResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Pipeline" }
          },
          "page": { "type": "integer", "minimum": 0 },
          "pageSize": { "type": "integer", "minimum": 1 },
          "totalCount": { "type": "integer", "minimum": 0 }
        },
        "required": [ "items", "page", "pageSize", "totalCount" ]
      },
      "PipelineCreateRequest": {
        "allOf": [
          { "$ref": "#/components/schemas/PipelineBase" },
          {
            "type": "object",
            "required": [ "name", "source", "sink", "transformations" ]
          }
        ]
      },
      "PipelineUpdateRequest": {
        "allOf": [
          { "$ref": "#/components/schemas/PipelineBase" },
          {
            "type": "object",
            "description": "All fields are optional; omitted fields will not be updated."
          }
        ]
      },
      "Pipeline": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PipelineBase"
          },
          {
            "type": "object",
            "properties": {
              "id": { "type": "string", "format": "uuid" },
              "createdAt": { "type": "string", "format": "date-time" },
              "updatedAt": { "type": "string", "format": "date-time" },
              "version": { "type": "integer", "minimum": 1 }
            },
            "required": [ "id", "createdAt", "updatedAt", "version" ]
          }
        ]
      },
      "PipelineBase": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "maxLength": 128 },
          "description": { "type": "string", "maxLength": 1024 },
          "source": { "$ref": "#/components/schemas/Endpoint" },
          "sink": { "$ref": "#/components/schemas/Endpoint" },
          "transformations": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Transformation" },
            "minItems": 1
          },
          "schedule": {
            "type": "string",
            "description": "Cron expression defining periodic execution schedule.  Optional for ad-hoc pipelines."
          },
          "isStreaming": { "type": "boolean", "default": false }
        }
      },
      "Endpoint": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [ "Kafka", "S3", "AzureBlob", "GCS", "Database", "Filesystem" ]
          },
          "connectionString": { "type": "string" },
          "topicOrTable": { "type": "string" },
          "format": { "type": "string", "enum": [ "Parquet", "Json", "Csv", "Avro" ] }
        },
        "required": [ "type", "connectionString" ]
      },
      "Transformation": {
        "type": "object",
        "properties": {
          "strategy": {
            "type": "string",
            "enum": [ "Aggregation", "Enrichment", "Anonymization", "Filtering", "Mapping", "Custom" ]
          },
          "config": {
            "type": "object",
            "description": "Strategy-specific configuration payload."
          },
          "order": { "type": "integer", "minimum": 0 }
        },
        "required": [ "strategy", "order" ]
      },
      "Run": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "pipelineId": { "type": "string", "format": "uuid" },
          "status": { "$ref": "#/components/schemas/RunStatus" },
          "startedAt": { "type": "string", "format": "date-time" },
          "endedAt": { "type": "string", "format": "date-time" },
          "metrics": {
            "type": "object",
            "properties": {
              "rowsRead": { "type": "integer", "minimum": 0 },
              "rowsWritten": { "type": "integer", "minimum": 0 },
              "errorCount": { "type": "integer", "minimum": 0 },
              "durationMs": { "type": "integer", "minimum": 0 }
            }
          },
          "logsUrl": { "type": "string", "format": "uri" }
        },
        "required": [ "id", "pipelineId", "status", "startedAt" ]
      },
      "RunParameters": {
        "type": "object",
        "description": "Optional user-provided parameters supplied to the pipeline at execution time.",
        "additionalProperties": { "type": "string" }
      },
      "PagedRunResponse": {
        "type": "object",
        "properties": {
          "items": { "type": "array", "items": { "$ref": "#/components/schemas/Run" } },
          "page": { "type": "integer" },
          "pageSize": { "type": "integer" },
          "totalCount": { "type": "integer" }
        },
        "required": [ "items", "page", "pageSize", "totalCount" ]
      },
      "RunStatus": {
        "type": "string",
        "enum": [ "Queued", "Running", "Succeeded", "Failed", "Canceled" ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": { "type": "string" },
          "message": { "type": "string" },
          "details": { "type": "array", "items": { "type": "string" } },
          "traceId": { "type": "string", "description": "Correlation identifier for log tracing." }
        },
        "required": [ "code", "message" ]
      }
    }
  }
}