```yaml
openapi: 3.0.3
info:
  title: PulseLearn Campus Hub API
  version: "1.2.0"
  description: |
    PulseLearn Campus Hub is a real-time, event-driven social-learning platform.  
    This OpenAPI document describes the public REST surface that front-end and
    3rd-party integrations consume.  
    • Authentication: OAuth2 social login or first-party JWT.  
    • Transport: HTTPS only (TLS 1.2+).  
    • Formats: JSON request/response, CloudEvents v1.0 for async callbacks.

  contact:
    name: PulseLearn DevRel
    url: https://pulselearn.io/developers
    email: devrel@pulselearn.io
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.pulselearn.io/v1
    description: Production
  - url: https://staging.api.pulselearn.io/v1
    description: Staging
  - url: http://localhost:4000/v1
    description: Local development
tags:
  - name: Auth
    description: Authentication & session management
  - name: Users
    description: Student/Teacher profile operations
  - name: Courses
    description: Course catalog & enrollment
  - name: Events
    description: Domain events and activity streams
  - name: Admin
    description: Administrative & monitoring endpoints
security:
  - BearerAuth: []
paths:
  /auth/social/{provider}:
    post:
      tags: [Auth]
      summary: Social OAuth2 login
      operationId: socialLogin
      parameters:
        - $ref: "#/components/parameters/ProviderParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SocialAuthRequest"
      responses:
        "200":
          description: Authenticated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthToken"
        "302":
          description: Redirect to provider consent screen
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /auth/login:
    post:
      tags: [Auth]
      summary: Username & password login
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema: 
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Login succeeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthToken"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /auth/logout:
    post:
      tags: [Auth]
      summary: Terminate current session
      operationId: logout
      security:
        - BearerAuth: []
      responses:
        "204":
          description: Logged out, no content
        "401":
          $ref: "#/components/responses/Unauthorized"

  /users/{userId}:
    get:
      tags: [Users]
      summary: Get user profile
      operationId: getUser
      parameters:
        - $ref: "#/components/parameters/UserId"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: User found
          content:
            application/json:
              schema: 
                $ref: "#/components/schemas/User"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags: [Users]
      summary: Update user profile
      operationId: updateUser
      parameters:
        - $ref: "#/components/parameters/UserId"
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: 
              $ref: "#/components/schemas/UserUpdate"
      responses:
        "200":
          description: User updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /courses:
    get:
      tags: [Courses]
      summary: Search public courses
      operationId: listCourses
      parameters:
        - in: query
          name: q
          schema:
            type: string
          description: Full-text search query
        - in: query
          name: page
          schema:
            type: integer
            minimum: 1
            default: 1
        - in: query
          name: pageSize
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        "200":
          description: Paginated course list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CoursePage"

  /courses/{courseId}:
    get:
      tags: [Courses]
      summary: Get course details
      operationId: getCourse
      parameters:
        - $ref: "#/components/parameters/CourseId"
      responses:
        "200":
          description: Course found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Course"
        "404":
          $ref: "#/components/responses/NotFound"

  /events:
    get:
      tags: [Events]
      summary: Stream recent domain events
      operationId: listEvents
      security:
        - BearerAuth: []
      parameters:
        - name: since
          in: query
          description: ISO 8601 timestamp. Only events after this date are returned.
          schema:
            type: string
            format: date-time
        - name: type
          in: query
          description: Filter by event type (e.g., AssignmentSubmitted)
          schema:
            type: string
      responses:
        "200":
          description: Event page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventPage"

  /events/{eventId}:
    get:
      tags: [Events]
      summary: Get single event
      operationId: getEvent
      parameters:
        - $ref: "#/components/parameters/EventId"
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Event found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Event"
        "404":
          $ref: "#/components/responses/NotFound"

  /admin/metrics:
    get:
      tags: [Admin]
      summary: Real-time operational metrics
      operationId: getMetrics
      security:
        - BearerAuth: [admin]
      responses:
        "200":
          description: Metrics document
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Metrics"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    ProviderParam:
      name: provider
      in: path
      required: true
      description: OAuth2 provider (google, facebook, apple, etc.)
      schema:
        type: string
        enum: [google, facebook, apple, microsoft, linkedin]
    UserId:
      name: userId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    CourseId:
      name: courseId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    EventId:
      name: eventId
      in: path
      required: true
      schema:
        type: string
        format: uuid
  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unauthorized:
      description: Authentication required or failed
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Forbidden:
      description: Insufficient permissions
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
  schemas:
    Error:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
          example: RESOURCE_NOT_FOUND
        message:
          type: string
          example: The requested resource does not exist.
        details:
          type: object
          nullable: true
      additionalProperties: false
    AuthToken:
      type: object
      required: [token, expiresAt, refreshToken]
      properties:
        token:
          type: string
          description: JWT access token
        refreshToken:
          type: string
        expiresAt:
          type: string
          format: date-time
      additionalProperties: false
      example:
        token: "eyJhbGciOiJIUzI1NiIsInR5cCI6..."
        refreshToken: "def502006ad..."
        expiresAt: "2024-12-31T23:59:59Z"
    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password
    SocialAuthRequest:
      type: object
      required: [redirectUri]
      properties:
        redirectUri:
          type: string
          format: uri
        code:
          type: string
          description: Authorization code returned by provider (PKCE flow). Optional for implicit flow.
    User:
      type: object
      required: [id, email, displayName, role, createdAt]
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        displayName:
          type: string
        avatarUrl:
          type: string
          format: uri
          nullable: true
        role:
          type: string
          enum: [student, teacher, admin]
        preferences:
          $ref: "#/components/schemas/UserPreferences"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      additionalProperties: false
    UserPreferences:
      type: object
      properties:
        locale:
          type: string
          default: en-US
        timezone:
          type: string
          default: UTC
        receiveMarketingEmails:
          type: boolean
          default: false
      additionalProperties: false
    UserUpdate:
      type: object
      properties:
        displayName:
          type: string
        avatarUrl:
          type: string
          format: uri
        preferences:
          $ref: "#/components/schemas/UserPreferences"
      additionalProperties: false
    Course:
      type: object
      required: [id, slug, title, instructor, createdAt]
      properties:
        id:
          type: string
          format: uuid
        slug:
          type: string
          pattern: "^[a-z0-9-]+$"
        title:
          type: string
        description:
          type: string
        instructor:
          $ref: "#/components/schemas/User"
        price:
          type: number
          format: decimal
          minimum: 0
        currency:
          type: string
          maxLength: 3
          example: USD
        tags:
          type: array
          items:
            type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      additionalProperties: false
    CoursePage:
      type: object
      required: [items, page, totalPages]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Course"
        page:
          type: integer
        totalPages:
          type: integer
      additionalProperties: false
    Event:
      type: object
      required: [id, type, actor, target, timestamp, data]
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          description: Domain event name
          example: AssignmentSubmitted
        actor:
          $ref: "#/components/schemas/User"
        target:
          type: string
          description: Target entity ID
        timestamp:
          type: string
          format: date-time
        data:
          type: object
          description: Event-specific payload
      additionalProperties: false
    EventPage:
      type: object
      required: [items, nextCursor]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Event"
        nextCursor:
          type: string
          nullable: true
      additionalProperties: false
    Metrics:
      type: object
      properties:
        activeUsers:
          type: integer
          example: 123
        eventsPerMinute:
          type: integer
          example: 456
        messageLag:
          type: number
          format: float
          description: Average Kafka/NATS consumer lag in milliseconds
          example: 12.34
        uptime:
          type: string
          example: "3 days 04:18:22"
      additionalProperties: false
```
