```yaml
openapi: 3.1.0
info:
  title: SprintCart Pro – Hyper-Productive E-Commerce API
  version: "1.0.0"
  summary: >
    REST API that powers SprintCart Pro’s merchant console, storefront, automation
    studio and third-party integrations.
  description: |
    SprintCart Pro treats every user touch-point—catalog curation, fulfillment,
    automation—as an optimizable work cycle.  
    This OpenAPI document describes the publicly supported endpoints that front-end
    clients, mobile apps, and ecosystem partners may call.  
    All endpoints are part of the **merchant workspace** context—they operate on
    data that belongs to the authenticated merchant account.

    # Conventions
    * Dates are expressed in ISO-8601 UTC (`yyyy-MM-dd'T'HH:mm:ss'Z'`).
    * Monetary values use the minor units of the respective currency
      (e.g. cents for USD) unless explicitly stated otherwise.
    * `id` fields are ULIDs.
    * All protected operations require a **JWT Bearer** token obtained via the
      `/auth/login` endpoint.
    * Error bodies follow [RFC-7807](https://datatracker.ietf.org/doc/html/rfc7807)
      (`application/problem+json`).

  contact:
    name: SprintCart Pro DevRel
    email: devrel@sprintcart.com
    url: https://sprintcart.com/developers
  license:
    name: Proprietary
    url: https://sprintcart.com/legal

servers:
  - url: https://api.sprintcart.io/v1
    description: Production
  - url: https://sandbox.api.sprintcart.io/v1
    description: Sandbox

tags:
  - name: Auth
    description: Authentication & authorization
  - name: Products
    description: Catalog maintenance & bulk operations
  - name: Orders
    description: Checkout & fulfillment
  - name: Automation
    description: Task automation & event hooks
  - name: Metrics
    description: Real-time productivity insights

paths:

  /auth/login:
    post:
      tags: [Auth]
      summary: Issue JWT for merchant operator
      description: >
        Authenticates an operator via email/password and returns a short-lived
        access token along with a refresh token.
      operationId: postAuthLogin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            examples:
              default:
                value: { email: "ops@sprintcartdemo.io", password: "S3cret!" }
      responses:
        "200":
          description: Tokens successfully issued
          headers:
            Set-Cookie:
              description: HTTP-only refresh token (when `rememberMe=true`)
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "422":
          $ref: '#/components/responses/ValidationError'

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Refresh expired JWT
      operationId: postAuthRefresh
      security:
        - refreshCookieAuth: []
      responses:
        "200":
          description: New access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessToken'
        "401":
          $ref: '#/components/responses/Unauthorized'

  /products:
    get:
      tags: [Products]
      summary: List products
      operationId: getProducts
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/size'
        - $ref: '#/components/parameters/sort'
        - in: query
          name: q
          description: Full-text search term
          schema: { type: string }
        - in: query
          name: status
          description: Filter by status (`ACTIVE`, `ARCHIVED`, `OUT_OF_STOCK`)
          schema:
            type: string
            enum: [ACTIVE, ARCHIVED, OUT_OF_STOCK]
      responses:
        "200":
          description: Paginated product list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductPage'
        "401":
          $ref: '#/components/responses/Unauthorized'

    post:
      tags: [Products]
      summary: Create a new product
      operationId: postProducts
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/NewProduct' }
      responses:
        "201":
          description: Product created
          headers:
            Location:
              description: URL of the newly created product
              schema: { type: string, format: uri }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Product' }
        "401":
          $ref: '#/components/responses/Unauthorized'
        "422":
          $ref: '#/components/responses/ValidationError'

  /products/bulk:
    patch:
      tags: [Products]
      summary: Bulk modification
      description: Apply price or inventory changes in bulk.  
        The operation is **atomic**—either all updates succeed or none do.
      operationId: patchProductsBulk
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BulkProductPatchRequest' }
      responses:
        "202":
          description: Bulk operation accepted; progress is reported via WebSocket
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BulkOperationAccepted' }
        "401":
          $ref: '#/components/responses/Unauthorized'
        "422":
          $ref: '#/components/responses/ValidationError'

  /products/{productId}:
    parameters:
      - $ref: '#/components/parameters/productId'
    get:
      tags: [Products]
      summary: Get product by ID
      operationId: getProductById
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Requested product
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Product' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "404": { $ref: '#/components/responses/NotFound' }

    put:
      tags: [Products]
      summary: Replace product
      operationId: putProduct
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/NewProduct' }
      responses:
        "200": { description: Product updated, content: { application/json: { schema: { $ref: '#/components/schemas/Product' } } } }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "404": { $ref: '#/components/responses/NotFound' }
        "422": { $ref: '#/components/responses/ValidationError' }

    delete:
      tags: [Products]
      summary: Archive product
      operationId: deleteProduct
      security:
        - bearerAuth: []
      responses:
        "204": { description: Product archived }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "404": { $ref: '#/components/responses/NotFound' }

  /orders:
    post:
      tags: [Orders]
      summary: Create order
      operationId: postOrders
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/NewOrder' }
      responses:
        "201":
          description: Order placed
          headers:
            Location:
              schema: { type: string, format: uri }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Order' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "422": { $ref: '#/components/responses/ValidationError' }

  /orders/{orderId}:
    parameters:
      - $ref: '#/components/parameters/orderId'
    get:
      tags: [Orders]
      summary: Get order by ID
      operationId: getOrderById
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Order detail
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Order' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "404": { $ref: '#/components/responses/NotFound' }

  /orders/{orderId}/status:
    parameters:
      - $ref: '#/components/parameters/orderId'
    patch:
      tags: [Orders]
      summary: Update order status
      operationId: patchOrderStatus
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  $ref: '#/components/schemas/OrderStatus'
                trackingNumber:
                  type: string
                  description: Optional tracking number when status = `SHIPPED`
      responses:
        "200":
          description: Status updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Order' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "404": { $ref: '#/components/responses/NotFound' }
        "422": { $ref: '#/components/responses/ValidationError' }

  /automation/tasks:
    get:
      tags: [Automation]
      summary: List automation tasks
      operationId: getAutomationTasks
      security:
        - bearerAuth: []
      responses:
        "200":
          description: All tasks
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AutomationTaskList' }
        "401": { $ref: '#/components/responses/Unauthorized' }

  /metrics/productivity:
    get:
      tags: [Metrics]
      summary: Fetch real-time productivity metrics
      operationId: getProductivityMetrics
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: window
          description: Time window (in minutes) to aggregate over
          schema: { type: integer, default: 15, minimum: 5, maximum: 120 }
      responses:
        "200":
          description: Productivity snapshot
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProductivityMetrics' }
        "401": { $ref: '#/components/responses/Unauthorized' }

components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    refreshCookieAuth:
      type: apiKey
      in: cookie
      name: SPRC_REFRESH

  parameters:
    page:
      name: page
      in: query
      description: Zero-based page index
      schema: { type: integer, default: 0, minimum: 0 }
    size:
      name: size
      in: query
      description: Page size (max = 250)
      schema: { type: integer, default: 50, minimum: 1, maximum: 250 }
    sort:
      name: sort
      in: query
      description: |
        Sorting criteria in the format: `property(,asc|desc)`.  
        Supports multiple fields separated by comma.
      schema: { type: string }
    productId:
      name: productId
      in: path
      required: true
      schema: { type: string }
    orderId:
      name: orderId
      in: path
      required: true
      schema: { type: string }

  schemas:

    # ========== Auth ==========
    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password
        rememberMe:
          type: boolean
          default: false

    LoginResponse:
      type: object
      required: [accessToken, expiresIn]
      properties:
        accessToken:
          $ref: '#/components/schemas/AccessToken/properties/token'
        expiresIn:
          type: integer
          description: Expiration time in seconds
        refreshToken:
          type: string
          description: Returned only when `rememberMe=true`

    AccessToken:
      type: object
      properties:
        token:
          type: string
        expiresAt:
          type: string
          format: date-time

    # ========== Product ==========
    ProductStatus:
      type: string
      enum: [ACTIVE, ARCHIVED, OUT_OF_STOCK]

    Money:
      type: object
      required: [amount, currency]
      properties:
        amount: { type: integer }
        currency: { type: string, example: "USD" }

    Dimensions:
      type: object
      properties:
        length: { type: number }
        width:  { type: number }
        height: { type: number }
        unit:   { type: string, enum: [cm, in] }

    Product:
      type: object
      required: [id, sku, name, status, price, stock]
      properties:
        id:   { type: string }
        sku:  { type: string }
        name: { type: string }
        description: { type: string }
        status: { $ref: '#/components/schemas/ProductStatus' }
        price: { $ref: '#/components/schemas/Money' }
        stock: { type: integer }
        dimensions: { $ref: '#/components/schemas/Dimensions' }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    NewProduct:
      allOf:
        - $ref: '#/components/schemas/Product'
        - required:
            - sku
            - name
            - price
            - stock
          properties:
            id: { readOnly: true }
            createdAt: { readOnly: true }
            updatedAt: { readOnly: true }

    BulkProductPatchRequest:
      type: object
      required: [operations]
      properties:
        operations:
          type: array
          minItems: 1
          items:
            type: object
            required: [productId, op]
            properties:
              productId: { type: string }
              op:
                type: string
                enum: [SET_PRICE, ADJUST_STOCK]
              value:
                oneOf:
                  - $ref: '#/components/schemas/Money'
                  - type: integer
        commitMessage:
          type: string
          description: Comment for audit trail

    BulkOperationAccepted:
      type: object
      properties:
        operationId: { type: string }
        statusUrl:   { type: string, format: uri }

    ProductPage:
      type: object
      required: [content, page, size, totalElements, totalPages]
      properties:
        content:
          type: array
          items: { $ref: '#/components/schemas/Product' }
        page: { type: integer }
        size: { type: integer }
        totalElements: { type: integer }
        totalPages: { type: integer }

    # ========== Order ==========
    OrderStatus:
      type: string
      enum: [NEW, PAID, PACKED, SHIPPED, DELIVERED, CANCELLED]

    OrderItem:
      type: object
      required: [productId, quantity, unitPrice]
      properties:
        productId: { type: string }
        quantity:  { type: integer, minimum: 1 }
        unitPrice: { $ref: '#/components/schemas/Money' }

    ShippingAddress:
      type: object
      required: [line1, city, postalCode, country]
      properties:
        line1: { type: string }
        line2: { type: string }
        city:  { type: string }
        state: { type: string }
        postalCode: { type: string }
        country: { type: string, example: "US" }

    PaymentInstrument:
      type: object
      required: [provider, netAmount]
      properties:
        provider:
          type: string
          enum: [STRIPE, PAYPAL]
        netAmount: { $ref: '#/components/schemas/Money' }
        feeAmount: { $ref: '#/components/schemas/Money' }
        transactionId: { type: string }

    Order:
      type: object
      required:
        - id
        - status
        - items
        - total
        - shippingAddress
        - createdAt
      properties:
        id: { type: string }
        reference: { type: string }
        status: { $ref: '#/components/schemas/OrderStatus' }
        items:
          type: array
          items: { $ref: '#/components/schemas/OrderItem' }
        total: { $ref: '#/components/schemas/Money' }
        shippingAddress: { $ref: '#/components/schemas/ShippingAddress' }
        payment: { $ref: '#/components/schemas/PaymentInstrument' }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    NewOrder:
      allOf:
        - type: object
          required: [items, shippingAddress, payment]
          properties:
            items:
              type: array
              minItems: 1
              items:
                type: object
                required: [sku, quantity]
                properties:
                  sku: { type: string }
                  quantity: { type: integer, minimum: 1 }
            shippingAddress: { $ref: '#/components/schemas/ShippingAddress' }
            payment:
              type: object
              required: [provider, nonce]
              properties:
                provider:
                  type: string
                  enum: [STRIPE, PAYPAL]
                nonce:
                  type: string
        - description: Client-side payload used to place an order

    # ========== Automation ==========
    AutomationTask:
      type: object
      required: [id, name, status]
      properties:
        id: { type: string }
        name: { type: string }
        status:
          type: string
          enum: [ACTIVE, PAUSED]
        trigger:
          type: string
          description: Event name that triggers the task
        actionCount:
          type: integer
        createdAt: { type: string, format: date-time }

    AutomationTaskList:
      type: array
      items: { $ref: '#/components/schemas/AutomationTask' }

    # ========== Metrics ==========
    ProductivityMetrics:
      type: object
      properties:
        avgLeadTimeSeconds: { type: number }
        throughputPerHour:  { type: number }
        revenuePerMinute:   { type: number }
        pendingTasks:       { type: integer }

    # ========== Common ==========
    Problem:
      type: object
      required: [type, title, status]
      properties:
        type:   { type: string, format: uri }
        title:  { type: string }
        status: { type: integer }
        detail: { type: string }
        instance: { type: string, format: uri }
      example:
        type: https://api.sprintcart.io/problems/validation-error
        title: Invalid request parameters
        status: 422
        detail: stock must be greater than or equal to 0
        instance: /products

  responses:
    Unauthorized:
      description: Unauthorized – JWT is missing or invalid
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    ValidationError:
      description: Validation failed
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    NotFound:
      description: Resource not found
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
```