{
  "openapi": "3.1.0",
  "info": {
    "title": "CanvasCraft ML Studio API",
    "description": "CanvasCraft ML Studio is an MVC-driven machine-learning training suite that treats every model as a living work of art. This OpenAPI definition (v1) exposes public REST endpoints for creative data-scientists and engineers who wish to automate, orchestrate, and monitor model-centric workflows such as experiment_tracking, feature_engineering, model_training, and model_serving.\n\nAll time-stamped resources return ISO-8601 strings in UTC. All numeric quantities are expressed in base-10 without implied units unless otherwise documented.\n\nAuthentication is performed via OAuth2 Bearer access tokens. Tokens must be transmitted in the `Authorization` header using the `Bearer` scheme.",
    "version": "1.0.0",
    "contact": {
      "name": "CanvasCraft ML Studio Support",
      "url": "https://canvascraft.ai/support",
      "email": "support@canvascraft.ai"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://api.canvascraft.ai/v1",
      "description": "Production"
    },
    {
      "url": "https://staging.api.canvascraft.ai/v1",
      "description": "Staging"
    },
    {
      "url": "http://localhost:5000/api/v1",
      "description": "Local Development"
    }
  ],
  "tags": [
    { "name": "Experiments", "description": "Create, read, update, and delete experiments." },
    { "name": "Datasets", "description": "Manage dataset metadata and ingestion status." },
    { "name": "Models", "description": "Register models, trigger training jobs, fetch metrics." },
    { "name": "Training", "description": "Long-running training jobs and logs." },
    { "name": "Health", "description": "Operational health endpoints." }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": ["Health"],
        "operationId": "getHealth",
        "summary": "Health Check",
        "description": "Returns system health as perceived by the API gateway.",
        "responses": {
          "200": {
            "description": "Service is healthy.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthStatus"
                }
              }
            }
          }
        }
      }
    },
    "/experiments": {
      "get": {
        "tags": ["Experiments"],
        "operationId": "listExperiments",
        "summary": "List Experiments",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageLimit"
          },
          {
            "$ref": "#/components/parameters/PageOffset"
          },
          {
            "$ref": "#/components/parameters/TagFilter"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated collection of experiments.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedExperiments"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        },
        "security": [{ "OAuth2": ["experiments:read"] }]
      },
      "post": {
        "tags": ["Experiments"],
        "operationId": "createExperiment",
        "summary": "Create Experiment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ExperimentCreateRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Experiment created.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Experiment" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "409": { "$ref": "#/components/responses/Conflict" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        },
        "security": [{ "OAuth2": ["experiments:write"] }]
      }
    },
    "/experiments/{experimentId}": {
      "get": {
        "tags": ["Experiments"],
        "operationId": "getExperiment",
        "summary": "Fetch Experiment",
        "parameters": [{ "$ref": "#/components/parameters/ExperimentId" }],
        "responses": {
          "200": {
            "description": "Experiment found.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Experiment" }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        },
        "security": [{ "OAuth2": ["experiments:read"] }]
      },
      "patch": {
        "tags": ["Experiments"],
        "operationId": "updateExperiment",
        "summary": "Update Experiment (partial)",
        "parameters": [{ "$ref": "#/components/parameters/ExperimentId" }],
        "requestBody": {
          "description": "JSON Patch document describing modifications.",
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ExperimentUpdateRequest" }
            }
          }
        },
        "responses": {
          "200": { "description": "Experiment updated.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Experiment" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        },
        "security": [{ "OAuth2": ["experiments:write"] }]
      },
      "delete": {
        "tags": ["Experiments"],
        "operationId": "deleteExperiment",
        "summary": "Delete Experiment",
        "parameters": [{ "$ref": "#/components/parameters/ExperimentId" }],
        "responses": {
          "204": { "description": "Experiment deleted." },
          "404": { "$ref": "#/components/responses/NotFound" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        },
        "security": [{ "OAuth2": ["experiments:write"] }]
      }
    },
    "/datasets": {
      "get": {
        "tags": ["Datasets"],
        "operationId": "listDatasets",
        "summary": "List Datasets",
        "parameters": [
          { "$ref": "#/components/parameters/PageLimit" },
          { "$ref": "#/components/parameters/PageOffset" }
        ],
        "responses": {
          "200": {
            "description": "Paginated dataset collection.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PaginatedDatasets" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        },
        "security": [{ "OAuth2": ["datasets:read"] }]
      }
    },
    "/models": {
      "get": {
        "tags": ["Models"],
        "operationId": "listModels",
        "summary": "List Models",
        "parameters": [
          { "$ref": "#/components/parameters/PageLimit" },
          { "$ref": "#/components/parameters/PageOffset" },
          {
            "name": "experimentId",
            "in": "query",
            "schema": { "type": "string", "format": "uuid" },
            "required": false,
            "description": "Filter models by the originating experiment."
          }
        ],
        "responses": {
          "200": { "description": "Paginated model collection.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PaginatedModels" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        },
        "security": [{ "OAuth2": ["models:read"] }]
      }
    },
    "/models/{modelId}": {
      "get": {
        "tags": ["Models"],
        "operationId": "getModel",
        "summary": "Fetch Model",
        "parameters": [{ "$ref": "#/components/parameters/ModelId" }],
        "responses": {
          "200": { "description": "Model details.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Model" } } } },
          "404": { "$ref": "#/components/responses/NotFound" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        },
        "security": [{ "OAuth2": ["models:read"] }]
      }
    },
    "/models/{modelId}/train": {
      "post": {
        "tags": ["Training"],
        "operationId": "triggerTrainingJob",
        "summary": "Trigger Training Job",
        "parameters": [{ "$ref": "#/components/parameters/ModelId" }],
        "requestBody": {
          "description": "Optional overrides for hyperparameters and compute resources.",
          "required": false,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/TrainingJobCreateRequest" }
            }
          }
        },
        "responses": {
          "202": { "description": "Training job accepted and queued.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TrainingJob" } } } },
          "409": { "$ref": "#/components/responses/Conflict" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        },
        "security": [{ "OAuth2": ["training:write"] }]
      }
    },
    "/models/{modelId}/metrics": {
      "get": {
        "tags": ["Models"],
        "operationId": "getModelMetrics",
        "summary": "Get Model Metrics",
        "parameters": [{ "$ref": "#/components/parameters/ModelId" }],
        "responses": {
          "200": { "description": "Latest model metrics.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ModelMetrics" } } } },
          "404": { "$ref": "#/components/responses/NotFound" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        },
        "security": [{ "OAuth2": ["models:read"] }]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "description": "Uses standard OAuth2 flows. Obtain tokens from the CanvasCraft Auth service.",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://auth.canvascraft.ai/oauth2/authorize",
            "tokenUrl": "https://auth.canvascraft.ai/oauth2/token",
            "scopes": {
              "experiments:read": "Read experiments",
              "experiments:write": "Create or modify experiments",
              "datasets:read": "Read datasets",
              "models:read": "Read model registry entries",
              "training:write": "Create or cancel training jobs"
            }
          }
        }
      }
    },
    "parameters": {
      "ExperimentId": {
        "name": "experimentId",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "format": "uuid" },
        "description": "Unique identifier of the experiment."
      },
      "ModelId": {
        "name": "modelId",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "format": "uuid" },
        "description": "Unique identifier of the model."
      },
      "PageLimit": {
        "name": "limit",
        "in": "query",
        "required": false,
        "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 20 },
        "description": "Maximum number of records to return."
      },
      "PageOffset": {
        "name": "offset",
        "in": "query",
        "required": false,
        "schema": { "type": "integer", "minimum": 0, "default": 0 },
        "description": "Zero-based index of the first record to return."
      },
      "TagFilter": {
        "name": "tag",
        "in": "query",
        "required": false,
        "schema": { "type": "string" },
        "description": "Filter experiments by tag (exact match)."
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid request. The response body includes details about validation errors.",
        "content": {
          "application/json": { "schema": { "$ref": "#/components/schemas/Error" } }
        }
      },
      "Unauthorized": {
        "description": "Invalid or missing authentication.",
        "content": {
          "application/json": { "schema": { "$ref": "#/components/schemas/Error" } }
        }
      },
      "NotFound": {
        "description": "The requested resource was not found.",
        "content": {
          "application/json": { "schema": { "$ref": "#/components/schemas/Error" } }
        }
      },
      "Conflict": {
        "description": "The request could not be completed due to a conflict with the current state of the target resource.",
        "content": {
          "application/json": { "schema": { "$ref": "#/components/schemas/Error" } }
        }
      }
    },
    "schemas": {
      "HealthStatus": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "enum": ["healthy"], "example": "healthy" },
          "timestamp": { "type": "string", "format": "date-time", "example": "2024-04-14T12:34:56Z" },
          "version": { "type": "string", "example": "1.0.0" }
        },
        "required": ["status", "timestamp", "version"]
      },
      "Experiment": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "status": { "type": "string", "enum": ["draft", "running", "completed", "archived"], "default": "draft" },
          "tags": { "type": "array", "items": { "type": "string" } },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        },
        "required": ["id", "name", "status", "createdAt", "updatedAt"]
      },
      "ExperimentCreateRequest": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "description": { "type": "string" },
          "tags": { "type": "array", "items": { "type": "string" } }
        },
        "required": ["name"]
      },
      "ExperimentUpdateRequest": {
        "type": "object",
        "description": "Fields that can be updated. Any omitted property is left unchanged.",
        "properties": {
          "name": { "type": "string" },
          "description": { "type": "string" },
          "status": { "type": "string", "enum": ["draft", "running", "completed", "archived"] },
          "tags": { "type": "array", "items": { "type": "string" } }
        }
      },
      "PaginatedExperiments": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Experiment" }
          },
          "total": { "type": "integer" },
          "limit": { "type": "integer" },
          "offset": { "type": "integer" }
        },
        "required": ["items", "total", "limit", "offset"]
      },
      "Dataset": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "sourceUri": { "type": "string", "format": "uri" },
          "featureCount": { "type": "integer" },
          "recordCount": { "type": "integer" },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        },
        "required": ["id", "name", "sourceUri", "createdAt", "updatedAt"]
      },
      "PaginatedDatasets": {
        "type": "object",
        "properties": {
          "items": { "type": "array", "items": { "$ref": "#/components/schemas/Dataset" } },
          "total": { "type": "integer" },
          "limit": { "type": "integer" },
          "offset": { "type": "integer" }
        },
        "required": ["items", "total", "limit", "offset"]
      },
      "Model": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "experimentId": { "type": "string", "format": "uuid" },
          "version": { "type": "string" },
          "status": { "type": "string", "enum": ["training", "trained", "deployed", "failed"], "default": "trained" },
          "metrics": { "$ref": "#/components/schemas/ModelMetrics" },
          "artifactUri": { "type": "string", "format": "uri" },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        },
        "required": ["id", "name", "experimentId", "version", "status", "createdAt", "updatedAt"]
      },
      "PaginatedModels": {
        "type": "object",
        "properties": {
          "items": { "type": "array", "items": { "$ref": "#/components/schemas/Model" } },
          "total": { "type": "integer" },
          "limit": { "type": "integer" },
          "offset": { "type": "integer" }
        },
        "required": ["items", "total", "limit", "offset"]
      },
      "ModelMetrics": {
        "type": "object",
        "description": "A non-exhaustive set of metrics captured during evaluation. All values are floating point numbers in the range [0,1] unless stated otherwise.",
        "properties": {
          "accuracy": { "type": "number", "format": "float" },
          "precision": { "type": "number", "format": "float" },
          "recall": { "type": "number", "format": "float" },
          "f1Score": { "type": "number", "format": "float" },
          "auc": { "type": "number", "format": "float" },
          "loss": { "type": "number", "format": "float" }
        }
      },
      "TrainingJob": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "modelId": { "type": "string", "format": "uuid" },
          "status": { "type": "string", "enum": ["queued", "running", "succeeded", "failed", "cancelled"] },
          "startedAt": { "type": "string", "format": "date-time" },
          "finishedAt": { "type": "string", "format": "date-time" },
          "logsUri": { "type": "string", "format": "uri" }
        },
        "required": ["id", "modelId", "status"]
      },
      "TrainingJobCreateRequest": {
        "type": "object",
        "properties": {
          "hyperParameters": {
            "type": "object",
            "additionalProperties": { "type": "string" },
            "description": "Key/Value pairs describing hyperparameter overrides."
          },
          "compute": {
            "type": "object",
            "properties": {
              "gpu": { "type": "integer", "minimum": 0 },
              "cpu": { "type": "integer", "minimum": 1 },
              "memoryGb": { "type": "integer", "minimum": 2 }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": { "type": "string" },
          "message": { "type": "string" },
          "details": {
            "type": "array",
            "items": { "type": "string" }
          },
          "traceId": { "type": "string" }
        },
        "required": ["code", "message"]
      }
    }
  }
}