```yaml
# ============================================================================== #
# CanvasChain Symphony – Gateway OpenAPI Specification                           #
# ------------------------------------------------------------------------------ #
# This document defines the HTTP façade for CanvasChain Symphony’s microservice #
# mesh.  While the internal services communicate via gRPC (see                 #
# /proto/*.proto), this Gateway aggregates the most common flows—wallet        #
# management, NFT composition/minting, governance, DeFi and token operations—  #
# behind a single REST+JSON interface for web / mobile clients.                #
# ============================================================================== #

openapi: 3.1.0

info:
  title: CanvasChain Symphony – Gateway API
  version: "1.3.0"
  description: |
    CanvasChain Symphony is an immersive, modular blockchain-NFT platform crafted
    for digital artists and interactive installations.  This Gateway surfaces the
    most-used business capabilities—wallet management, NFT lifecycle, governance,
    token transfers and DeFi modules—while delegating business logic to dedicated
    Rust microservices via gRPC on the backend mesh.

    NOTE:
      • All dates/times are ISO-8601 with millisecond precision and UTC “Z” suffix.
      • All IDs are base58-encoded ULIDs unless stated otherwise.
      • Pagination follows RFC-8288 (Link headers) & RFC-5988 conventions.

  contact:
    name: Developer Relations
    email: devrel@canvaschain.io
    url: https://canvaschain.io/docs

  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html

servers:
  - url: https://api.canvaschain.io
    description: Production
  - url: https://sandbox.canvaschain.io
    description: Sandbox / Staging

tags:
  - name: Wallets
    description: Wallet creation, backup, key management and signature utilities.
  - name: NFTs
    description: Multilayer generative-art NFTs—mint, remix, evolve and query.
  - name: Governance
    description: On-chain proposal submission, voting and treasury actions.
  - name: Tokens
    description: Fungible token mint/burn and peer-to-peer transfers.
  - name: DeFi
    description: Liquidity pools, yield strategies and staking incentives.
  - name: Health
    description: Public health checks for load-balancers and observability.
  - name: Internal
    description: Administrative endpoints—rate-limited and IP-restricted.

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        OAuth2 access token issued after a successful wallet authentication
        (see `/v1/wallets/auth`).  Scope strings are case-sensitive.
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: |
        Programmatic access for server-to-server integrations.  Keys are bound
        to rate-limit policies and may be revoked without notice.
  schemas:
    CursorPagination:
      type: object
      properties:
        prev:
          type: string
          nullable: true
          description: Opaque cursor for fetching the previous page.
        next:
          type: string
          nullable: true
          description: Opaque cursor for fetching the next page.
      required: [prev, next]

    Wallet:
      type: object
      description: A CanvasChain Symphony wallet—supports multiple signature curves.
      properties:
        id:
          type: string
          format: ulid
        address:
          type: string
          description: Bech32-encoded account address on the Symphony chain.
        curve:
          type: string
          enum: [ed25519, bls12-381, falcon-1024]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required: [id, address, curve, created_at, updated_at]
      example:
        id: 01H9B8T2G2YCD9E4PZ7W7PCKME
        address: ccs1qvw2y...2ue5s
        curve: ed25519
        created_at: "2023-10-01T12:45:23.001Z"
        updated_at: "2023-10-01T12:45:23.001Z"

    WalletAuthRequest:
      type: object
      properties:
        address:
          type: string
        signature:
          type: string
          description: Base64 raw signature of the provided nonce.
        nonce:
          type: string
      required: [address, signature, nonce]

    WalletAuthResponse:
      type: object
      properties:
        access_token:
          type: string
        expires_in:
          type: integer
          description: Seconds until expiration.
      required: [access_token, expires_in]

    NFT:
      type: object
      properties:
        id:
          type: string
          format: ulid
        owner_address:
          type: string
        composition_id:
          type: string
        state:
          type: string
          enum: [draft, minted, evolving, burned]
        metadata_uri:
          type: string
          format: uri
        current_layer:
          type: integer
          description: The active generative layer index (0-based).
        total_layers:
          type: integer
        created_at:
          type: string
          format: date-time
      required:
        [id, owner_address, composition_id, state, metadata_uri,
         current_layer, total_layers, created_at]

    GovernanceProposal:
      type: object
      properties:
        id:
          type: string
          format: ulid
        title:
          type: string
        description:
          type: string
        proposer:
          type: string
          description: Wallet address of the proposer.
        status:
          type: string
          enum: [draft, active, passed, rejected, executed]
        voting_start:
          type: string
          format: date-time
        voting_end:
          type: string
          format: date-time
      required: [id, title, proposer, status, voting_start, voting_end]

    TokenTransferRequest:
      type: object
      properties:
        from_address:
          type: string
        to_address:
          type: string
        denom:
          type: string
          description: Fungible token denomination (e.g., CCS, cUSDC).
        amount:
          type: string
          pattern: "^[0-9]+(\\.[0-9]+)?$"
      required: [from_address, to_address, denom, amount]

    Pool:
      type: object
      description: DeFi liquidity pool
      properties:
        id:
          type: string
          format: ulid
        asset_a:
          type: string
        asset_b:
          type: string
        tvl:
          type: string
        apr:
          type: number
          format: float
      required: [id, asset_a, asset_b, tvl, apr]

    ErrorResponse:
      type: object
      properties:
        code:
          type: string
          enum: [bad_request, unauthorized, forbidden, not_found, conflict, internal]
        message:
          type: string
        trace_id:
          type: string
          description: Correlates logs and metrics across the microservice mesh.
      required: [code, message, trace_id]
      example:
        code: forbidden
        message: "Insufficient token balance for gas fee."
        trace_id: "ccs-gw-5f8d1b1e"

security:
  - BearerAuth: []
  - ApiKeyAuth: []

paths:
  /health/live:
    get:
      tags: [Health]
      summary: Liveness probe
      operationId: liveCheck
      responses:
        "200":
          description: The service is up and accepting traffic.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "live"

  /health/ready:
    get:
      tags: [Health]
      summary: Readiness probe
      operationId: readyCheck
      responses:
        "200":
          description: Downstream dependencies (gRPC / DB / Event Bus) are healthy.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "ready"
                  dependencies:
                    type: array
                    items:
                      type: string
                    example: ["wallet-svc", "nft-svc", "governance-svc"]

  /v1/wallets:
    post:
      tags: [Wallets]
      summary: Create a new wallet (client-side generated keys preferred)
      operationId: createWallet
      requestBody:
        description: Optional curve selection; a fresh keypair is generated server-side.
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                curve:
                  type: string
                  enum: [ed25519, bls12-381, falcon-1024]
      responses:
        "201":
          description: Wallet created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Wallet"
        "400":
          description: Invalid payload or unsupported curve.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    get:
      tags: [Wallets]
      summary: List wallets for the authenticated user
      operationId: listWallets
      security:
        - BearerAuth: [wallet:read]
      parameters:
        - in: query
          name: cursor
          schema:
            type: string
          description: Pagination cursor.
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
          default: 20
      responses:
        "200":
          description: A page of wallets.
          headers:
            Link:
              description: Pagination links as per RFC-8288.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  wallets:
                    type: array
                    items:
                      $ref: "#/components/schemas/Wallet"
                  page:
                    $ref: "#/components/schemas/CursorPagination"

  /v1/wallets/{wallet_id}:
    parameters:
      - name: wallet_id
        in: path
        required: true
        schema:
          type: string
          format: ulid
    get:
      tags: [Wallets]
      summary: Retrieve a wallet by ID
      operationId: getWallet
      security:
        - BearerAuth: [wallet:read]
      responses:
        "200":
          description: Wallet found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Wallet"
        "404":
          description: Wallet not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/wallets/auth:
    post:
      tags: [Wallets]
      summary: Authenticate via address / signature
      operationId: authenticateWallet
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WalletAuthRequest"
      responses:
        "200":
          description: Auth successful.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WalletAuthResponse"
        "401":
          description: Invalid signature or expired nonce.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/nfts:
    post:
      tags: [NFTs]
      summary: Mint a new multilayer NFT
      operationId: mintNft
      security:
        - BearerAuth: [nft:write]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                composition_id:
                  type: string
                metadata:
                  type: string
                  description: JSON metadata as per ARC-3.
                asset_files:
                  type: array
                  items:
                    type: string
                    format: binary
              required: [composition_id, metadata, asset_files]
      responses:
        "201":
          description: NFT minted successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NFT"
        "409":
          description: Duplicate composition or insufficient balance.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    get:
      tags: [NFTs]
      summary: List NFTs with optional filters
      operationId: listNfts
      parameters:
        - in: query
          name: owner
          schema:
            type: string
          description: Filter by owner address.
        - in: query
          name: state
          schema:
            type: string
            enum: [draft, minted, evolving, burned]
        - in: query
          name: cursor
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 50
          default: 20
      responses:
        "200":
          description: A page of NFTs.
          content:
            application/json:
              schema:
                type: object
                properties:
                  nfts:
                    type: array
                    items:
                      $ref: "#/components/schemas/NFT"
                  page:
                    $ref: "#/components/schemas/CursorPagination"

  /v1/nfts/{nft_id}:
    parameters:
      - name: nft_id
        in: path
        required: true
        schema:
          type: string
          format: ulid
    get:
      tags: [NFTs]
      summary: Get details of a specific NFT
      operationId: getNft
      responses:
        "200":
          description: NFT retrieved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NFT"
        "404":
          description: NFT not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    patch:
      tags: [NFTs]
      summary: Evolve NFT to the next layer/state
      operationId: evolveNft
      security:
        - BearerAuth: [nft:write]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                action:
                  type: string
                  enum: [advance_layer, burn]
                parameters:
                  type: object
                  nullable: true
      responses:
        "202":
          description: Evolution request accepted (async processing).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NFT"
        "409":
          description: Invalid state transition.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/gov/proposals:
    post:
      tags: [Governance]
      summary: Submit a new governance proposal
      operationId: createProposal
      security:
        - BearerAuth: [gov:write]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GovernanceProposal"
      responses:
        "201":
          description: Proposal created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GovernanceProposal"

    get:
      tags: [Governance]
      summary: List proposals
      operationId: listProposals
      parameters:
        - in: query
          name: status
          schema:
            type: string
            enum: [draft, active, passed, rejected, executed]
        - in: query
          name: cursor
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 50
      responses:
        "200":
          description: A page of proposals.
          content:
            application/json:
              schema:
                type: object
                properties:
                  proposals:
                    type: array
                    items:
                      $ref: "#/components/schemas/GovernanceProposal"
                  page:
                    $ref: "#/components/schemas/CursorPagination"

  /v1/gov/proposals/{proposal_id}/vote:
    parameters:
      - name: proposal_id
        in: path
        required: true
        schema:
          type: string
          format: ulid
    post:
      tags: [Governance]
      summary: Cast a vote on a proposal
      operationId: voteProposal
      security:
        - BearerAuth: [gov:vote]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                vote:
                  type: string
                  enum: [yes, no, abstain]
      responses:
        "200":
          description: Vote recorded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  proposal_id:
                    type: string
                  voter:
                    type: string
                  vote:
                    type: string
                  power:
                    type: string
        "409":
          description: Voting period closed or duplicate vote.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/tokens/transfer:
    post:
      tags: [Tokens]
      summary: Transfer fungible tokens
      operationId: transferTokens
      security:
        - BearerAuth: [token:transfer]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TokenTransferRequest"
      responses:
        "202":
          description: Transfer enqueued (async settlement).
          content:
            application/json:
              schema:
                type: object
                properties:
                  tx_hash:
                    type: string
                  status:
                    type: string
                    example: "pending"
        "400":
          description: Validation error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/defi/pools:
    get:
      tags: [DeFi]
      summary: List DeFi liquidity pools
      operationId: listPools
      parameters:
        - in: query
          name: asset
          schema:
            type: string
          description: Filter pools containing the specified asset.
      responses:
        "200":
          description: Pool catalog.
          content:
            application/json:
              schema:
                type: object
                properties:
                  pools:
                    type: array
                    items:
                      $ref: "#/components/schemas/Pool"

x-tagGroups:
  - name: Public API
    tags: [Wallets, NFTs, Governance, Tokens, DeFi, Health]
  - name: ⚠️ Internal
    tags: [Internal]

# End of File
```