```yaml
openapi: 3.0.3
info:
  title: CommerceSphere Enterprise Suite REST API
  description: |
    The CommerceSphere Enterprise Suite REST API enables integrators, storefront
    applications, and administrative tooling to interact with the unified B2B commerce
    platform. All endpoints are served from the same JVM process and are secured via
    OAuth 2.1 password credentials that yield short-lived JWT access tokens.

    Key design tenets
    - Contract-driven tiered pricing
    - Quote-to-cash order lifecycle
    - Role-based account hierarchies
    - Audit-grade logging (PCI-DSS & GDPR)
  version: 3.1.0
  contact:
    name: CommerceSphere Engineering
    email: opensource@commercesphere.io
    url: https://github.com/CommerceSphere/enterprise-suite
servers:
  - url: https://api.sandbox.commercesphere.io/v1
    description: Sandbox (testing)
  - url: https://api.commercesphere.io/v1
    description: Production
tags:
  - name: Authentication
    description: Endpoints used to obtain and refresh JWT tokens.
  - name: Catalog
    description: Product catalog, inventory, and pricing.
  - name: Orders
    description: Quote-to-cash order processing.
  - name: Payments
    description: Multi-channel payment orchestration.
  - name: Customers
    description: B2B customer accounts and contacts.
  - name: Admin
    description: Internal only — requires `ROLE_SYS_ADMIN`.
x-generated-at: 2024-06-11T00:00:00Z
x-powered-by: CommerceSphere :: Monolith JVM Platform

###############################################################################
# Paths
###############################################################################
paths:
  /auth/token:
    post:
      summary: Obtain an access token
      description: |
        Exchange user credentials for a short-lived JWT access token and a
        refresh token. The generated token must be sent in the `Authorization`
        header (`Bearer <token>`) for all subsequent calls.
      operationId: postAuthToken
      tags: [Authentication]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthRequest'
            examples:
              default:
                value:
                  username: jane.doe@example.com
                  password: s3cr3tP@ssw0rd
      responses:
        '200':
          description: Access token successfully issued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          description: Too many failed login attempts. The account is temporarily locked.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /products:
    get:
      summary: List products
      description: |
        Retrieves a paged list of active products. Add query parameters to
        filter by search term or category.
      operationId: getProducts
      tags: [Catalog]
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
        - name: q
          in: query
          description: Full-text search term.
          required: false
          schema:
            type: string
        - name: categoryId
          in: query
          description: Category identifier to filter results.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Paged list of products.
          headers:
            X-Total-Count:
              description: Total number of records across all pages.
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Product'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /products/{sku}:
    parameters:
      - name: sku
        in: path
        required: true
        description: Stock-keeping unit.
        schema:
          type: string
    get:
      summary: Get product by SKU
      operationId: getProductBySku
      tags: [Catalog]
      responses:
        '200':
          description: The requested product.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /pricing/contracts/{contractId}/price:
    parameters:
      - name: contractId
        in: path
        required: true
        schema:
          type: string
        description: B2B contract identifier.
    get:
      summary: Resolve contract pricing for a SKU
      operationId: getContractPrice
      tags: [Catalog]
      parameters:
        - name: sku
          in: query
          required: true
          schema:
            type: string
        - name: quantity
          in: query
          required: false
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Tiered pricing for the requested SKU under the specified contract.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceBreak'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /orders:
    post:
      summary: Create a new order
      operationId: createOrder
      tags: [Orders]
      requestBody:
        description: Order creation payload.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderCreateRequest'
      responses:
        '201':
          description: Order successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
          headers:
            Location:
              description: URL to the newly created resource.
              schema:
                type: string
                format: uri
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: |
            One or more items failed inventory validation or pricing
            validation due to concurrent updates.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /orders/{orderId}:
    parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: string
    get:
      summary: Retrieve order details
      operationId: getOrder
      tags: [Orders]
      responses:
        '200':
          description: Order details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /payments/charge:
    post:
      summary: Capture payment against an order
      operationId: postPaymentCharge
      tags: [Payments]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentChargeRequest'
      responses:
        '202':
          description: Payment accepted for asynchronous processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentChargeResponse'
        '402':
          description: Payment required / card declined.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: Payment already processed for this order.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

###############################################################################
# Components
###############################################################################
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT token issued by `/auth/token`. Must be provided in the
        `Authorization` header as `Bearer <token>`.

  parameters:
    PageParam:
      name: page
      in: query
      description: Page index (0-based).
      required: false
      schema:
        type: integer
        minimum: 0
        default: 0
    PageSizeParam:
      name: size
      in: query
      description: Number of elements per page.
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 250
        default: 25

  responses:
    Unauthorized:
      description: Missing or invalid authentication credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Malformed input or validation failure.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    #-------------------------------------------------------------------------
    # Auth
    #-------------------------------------------------------------------------
    AuthRequest:
      type: object
      required: [username, password]
      properties:
        username:
          type: string
          format: email
        password:
          type: string
          format: password
          minLength: 8
          maxLength: 128
    AuthResponse:
      type: object
      required: [accessToken, refreshToken, tokenType, expiresIn]
      properties:
        accessToken:
          type: string
          description: JWT access token.
        refreshToken:
          type: string
        tokenType:
          type: string
          example: Bearer
        expiresIn:
          type: integer
          description: Expiry time in seconds.
          example: 900

    #-------------------------------------------------------------------------
    # Catalog
    #-------------------------------------------------------------------------
    Product:
      type: object
      required: [sku, name, price, currency, inventoryOnHand]
      properties:
        sku:
          type: string
        name:
          type: string
        description:
          type: string
        price:
          type: number
          format: decimal
        currency:
          type: string
          pattern: '^[A-Z]{3}$'
        inventoryOnHand:
          type: integer
          minimum: 0
        weight:
          type: number
          format: decimal
          nullable: true
        attributes:
          type: object
          additionalProperties:
            type: string
    PriceBreak:
      type: object
      required: [sku, contractId, breaks]
      properties:
        sku:
          type: string
        contractId:
          type: string
        breaks:
          type: array
          items:
            type: object
            required: [qtyMin, unitPrice]
            properties:
              qtyMin:
                type: integer
                minimum: 1
              qtyMax:
                type: integer
                nullable: true
              unitPrice:
                type: number
                format: decimal
              currency:
                type: string
                pattern: '^[A-Z]{3}$'

    #-------------------------------------------------------------------------
    # Orders
    #-------------------------------------------------------------------------
    OrderCreateRequest:
      type: object
      required: [customerId, items, currency]
      properties:
        customerId:
          type: string
        contractId:
          type: string
          description: Contract to apply tiered pricing. Optional.
        purchaseOrderNo:
          type: string
          description: Customer PO reference
        currency:
          type: string
        items:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/OrderItem'
        shippingAddress:
          $ref: '#/components/schemas/Address'
        billingAddress:
          $ref: '#/components/schemas/Address'
    Order:
      type: object
      required: [id, customerId, status, totalAmount, currency, items]
      properties:
        id:
          type: string
        customerId:
          type: string
        status:
          type: string
          enum:
            - PENDING
            - CONFIRMED
            - SHIPPED
            - CANCELLED
            - CLOSED
        currency:
          type: string
        totalAmount:
          type: number
          format: decimal
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    OrderItem:
      type: object
      required: [sku, quantity, unitPrice]
      properties:
        sku:
          type: string
        quantity:
          type: integer
          minimum: 1
        unitPrice:
          type: number
          format: decimal
        lineTotal:
          type: number
          format: decimal

    #-------------------------------------------------------------------------
    # Payments
    #-------------------------------------------------------------------------
    PaymentChargeRequest:
      type: object
      required: [orderId, amount, currency, paymentToken]
      properties:
        orderId:
          type: string
        amount:
          type: number
          format: decimal
          minimum: 0
        currency:
          type: string
          pattern: '^[A-Z]{3}$'
        paymentToken:
          type: string
          description: Tokenized card or digital wallet reference.
        captureImmediately:
          type: boolean
          default: true
    PaymentChargeResponse:
      type: object
      required: [chargeId, status, createdAt]
      properties:
        chargeId:
          type: string
        status:
          type: string
          enum:
            - PENDING
            - AUTHORIZED
            - CAPTURED
            - FAILED
        failureReason:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time

    #-------------------------------------------------------------------------
    # Customers
    #-------------------------------------------------------------------------
    Customer:
      type: object
      required: [id, companyName, active]
      properties:
        id:
          type: string
        companyName:
          type: string
        contactName:
          type: string
        email:
          type: string
        phone:
          type: string
        active:
          type: boolean

    #-------------------------------------------------------------------------
    # Generic
    #-------------------------------------------------------------------------
    Address:
      type: object
      required: [line1, city, postalCode, countryCode]
      properties:
        line1:
          type: string
        line2:
          type: string
          nullable: true
        city:
          type: string
        state:
          type: string
          nullable: true
        postalCode:
          type: string
        countryCode:
          type: string
          pattern: '^[A-Z]{2}$'
    ErrorResponse:
      type: object
      required: [timestamp, status, error, message, path]
      properties:
        timestamp:
          type: string
          format: date-time
        status:
          type: integer
        error:
          type: string
        message:
          type: string
        path:
          type: string

###############################################################################
# Global Security
###############################################################################
security:
  - bearerAuth: []
```